# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/

# C# / .NET
[Bb]in/
[Oo]bj/
[Oo]ut/
Properties/launchSettings.json
*.user
*.userosscache
*.sln.docstates
appsettings.Development.json

# Databases
*.sqlite
*.db
ids_alerts.db
*.db-shm
*.db-wal

# OS / IDE
.DS_Store
.idea/
.vscode/
.vs/
